@using DaiPhatDat.Core.Kernel;
<script src="~/Areas/Task/Content/angularjs/services/ProjectDetailService.js"></script>
<script src="~/Areas/Task/Content/angularjs/controller/ProjectDetailCtrl.js"></script>

<div id="modal-project-detail" style="display: none">
    <div class="documentDetail p-5">
        <div class="form-horizontal" id="MainDocumentDetails">
            @*<h3 class="modal-title">@ResourceManagement.GetResourceText("Task.ProjectDetail.ProjectDetail", "Chi tiết dự án", "Project detail")</h3>*@
            <div class="lv-detailCont dl-tracking-detail lv-detail-project" id="documentdetail-detailCont">
                <h2 class="lv-detailTitle text-uppercase">
                    {{ projectDetail.item.Summary }}
                </h2>

                <input type="hidden" id="projectId" value="{{ projectDetail.Id }}" />
                <div class="lv-detailInfo">
                    <div class="d-block">
                        <div class="text-black text-bold pr-2 pull-left dl-label-color">@ResourceManagement.GetResourceText("Task.ProjectDetail.ExecutionTime", "Thời gian thực hiện", "Execution time"): <span class="dl-label">{{ projectDetail.item.DateTimeString }} </span> </div>
                        <div class="pull-right">
                            <label class="label label-inline label-status progress-task {{projectDetail.item.Process}}">
                                {{projectDetail.item.ProjectStatusName}}
                                <span ng-if="projectDetail.item.PercentFinish != null && projectDetail.item.PercentFinish > 0" class="label-process"> ({{projectDetail.item.PercentFinish}}%)</span>
                            </label>
                        </div>
                    </div>
                    <div ng-if="projectDetail.item.ProjectCategories.length > 0" class="text-black text-bold pr-2 dl-label-color" style="clear:both">@ResourceManagement.GetResourceText("Task.ProjectDetail.TagProject", "Nhãn danh mục", "Tag project"): <span ng-repeat="category in projectDetail.item.ProjectCategories" class="label label-inline status-value">{{category}}</span></div>

                    <div ng-if="projectDetail.item.DepartmentName != null && projectDetail.item.DepartmentName.length > 0" class="dl-label-color float-left pr-2" style="clear: both">@ResourceManagement.GetResourceText("Task.ProjectDetail.Department", "Phòng ban", "Department"):</div>
                    <div class="dl-label float-left">
                        {{ projectDetail.item.DepartmentName }}
                    </div>
                    <div ng-if="projectDetail.item.ProjectContent != null && projectDetail.item.ProjectContent.length > 0" class="dl-label-color dl-p-r-5 lv-project-content-all">
                        @ResourceManagement.GetResourceText("Task.ProjectDetail.Content", "Nội dung", "Content"):
                        <span class="dl-label lv-project-content" ng-bind-html="projectDetail.item.ProjectContent"></span>
                    </div>
                    <div class="table-responsive" ng-if="projectDetail.item.Attachments != null && projectDetail.item.Attachments.length > 0">
                        <div class="text-black text-bold pr-2 pull-left dl-label-color attachment-down">
                            @ResourceManagement.GetResourceText("Task.ProjectDetail.Documents", "Tài liệu", "Documents"):
                            <span ng-repeat="item in projectDetail.item.Attachments">
                                <a class="file-name" target="_blank" href="~/Task/Project/DownloadFileTrackingWorkflowDocument?fileTrackingWorkflowDocumentID={{item.Id}}&deptID=00000000-0000-0000-0000-000000000000" ng-click="projectDetail.openPreviewFileTrackingModel(item.Id)" title="{{item.FileName}}">@*<i class="{{item.Icon}} file-icon"></i>*@ {{item.FileName}} (200KB) <i class="fas fa-arrow-down"></i> <span class="spliter">|</span></a>
                            </span>
                        </div>
                    </div>
                    <div class="lv-more show-project-content" style="display:none">
                        <span>@ResourceManagement.GetResourceText("Task.ProjectDetail.ViewMore", "Xem thêm", "View more")</span>
                    </div>
                    <div class="lv-more hidden-project-content" style="display:none">
                        <span>@ResourceManagement.GetResourceText("Task.ProjectDetail.Collapse", "Thu gọn", "Collapse")</span>
                    </div>
                </div>
            </div>
            @*Report*@
            <div class="project-report">
                <div class="tabbable-line">

                    <ul class="nav nav-tabs nav-tabs-line mb-5">
                        <li class="nav-item" id="tabli_projectStatus">
                            <a class="nav-link active" data-toggle="tab" href="#tab_projectStatus">
                                <span class="nav-icon"><i class="flaticon2-chat-1"></i></span>
                                <span class="nav-text">@ResourceManagement.GetResourceText("Task.ProjectDetail.Status", "Tình trạng", "Status")</span>
                            </a>
                        </li>
                        <li class="nav-item" id="tabli_projectTaskRoot">
                            <a class="nav-link" data-toggle="tab" href="#tab_projectTaskRoot">
                                <span class="nav-icon"><i class="flaticon2-chat-1"></i></span>
                                <span class="nav-text"> @ResourceManagement.GetResourceText("Task.ProjectDetail.Task", "Công việc", "Tasks") <span ng-if="projectDetail.item.TaskItems!=null">({{projectDetail.item.TaskItems.length}})</span> </span>
                            </a>
                        </li>
                        <li class="nav-item" id="tabli_projectReport" ng-click="projectDetail.getReportProject()">
                            <a class="nav-link" data-toggle="tab" href="#tab_projectReport">
                                <span class="nav-icon"><i class="flaticon2-graphic"></i></span>
                                <span class="nav-text">@ResourceManagement.GetResourceText("Task.ProjectDetail.Report", "Thống kê", "Report")</span>
                            </a>
                        </li>
                        <li class="nav-item" id="tabli_detailHis" ng-click="projectDetail.getHistory(null)">
                            <a class="nav-link" href="#tab_detailHis" data-toggle="tab">
                                <span class="nav-icon"><i class="fa fa-history"></i></span>
                                <span class="nav-text">@ResourceManagement.GetResourceText("Task.TaskDetail.History", "Lược sử", "History") </span>
                            </a>
                        </li>
                        <li ng-if="projectDetail.item.IsLink">
                            <a class="link-detail-module" href="{{projectDetail.item.Link}}" target="_blank">
                                <span class="nav-icon"><i class="fa fa-link"></i></span>
                                <span class="nav-text">@ResourceManagement.GetResourceText("Task.TaskDetail.LinkModule", "Liên kết link", "Link") </span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_projectStatus">
                            <div class="dl-tracking-detail" id="viewProjectStatus">
                                <div class="lv-detailHis">
                                    <div class="timeline white-bg lv-detailHis">
                                        <div ng-repeat="history in projectDetail.item.ProjectHistories" class="lv-hisItem {{ $index == 0 ? '':'hidden is-not-first-history' }}">
                                            <div class="lv-hisDate">
                                                <span>{{history.DateFormat}}</span>
                                            </div>
                                            <div class="lv-hisCont">
                                                <div class="timeline-item">
                                                    <div class="timeline-badge">
                                                        <span class="timeline-badge-userpic"> {{history.PercentFinish}}%</span>
                                                    </div>
                                                    <div class="timeline-body">
                                                        <div class="timeline-body-head">
                                                            <div class="timeline-body-head-caption">
                                                                <span class="timeline-body-title">{{history.CreatedByFullName}}</span>
                                                                <span class="timeline-body-time font-grey-cascade">{{history.CreatedByJobTitleName}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="timeline-body-content">{{history.Summary}}</div>
                                                        <div class="attachment-zone">
                                                            <div class="attachment-zone">
                                                                <div ng-repeat="item in history.AttachmentDto" class="attachment-row">
                                                                    <div class="attachment-icon">
                                                                        <i class="{{item.Icon}} font-red"></i>
                                                                    </div>
                                                                    <div class="attachment-file">
                                                                        <div class="desc">
                                                                            <span>
                                                                                <a target="_blank" ng-click="projectDetail.openPreviewFileTrackingModel(item.Id)">{{item.FileName}}</a>
                                                                            </span>
                                                                            <a target="_blank" href="~/Task/Project/DownloadFileTrackingWorkflowDocument?fileTrackingWorkflowDocumentID={{item.Id}}">
                                                                                <i class="fa fa-download"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-if="projectDetail.item.ProjectHistories == null || projectDetail.item.ProjectHistories.length == 0">
                                            @ResourceManagement.GetResourceText("Task.ProjectDetail.NoProgressUpdateYet", "Chưa có cập nhật tiến độ", "No progress update yet")
                                        </div>

                                        <div ng-if="projectDetail.item.ProjectHistories.length > 1" class="text-center show-history-project" id="extend-history-ptoject">
                                            <span class="show-history-project">
                                                @ResourceManagement.GetResourceText("Task.ProjectDetail.ViewMore", "Xem thêm", "View more")
                                            </span>
                                            <span class="hidden-history-project hidden">
                                                @ResourceManagement.GetResourceText("Task.ProjectDetail.Collapse", "Thu gọn", "Collapse")
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="tab_projectTaskRoot">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                @*Công việc dự án*@
                                <div class="panel panel-default">
                                    <div id="collapseFour" class="" role="tabpanel" aria-labelledby="headingFour">
                                        <div class="panel-body">
                                            <div ng-repeat="taskItem in projectDetail.item.TaskItems track by $index" class="task-child pb-4">
                                                @Html.Partial("~/Areas/Task/Views/Home/PartialView/_TaskItemVS1.cshtml")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_projectReport">
                            <div class="row">
                                <div class="col-md-6" id="pie-chart-status"></div>
                                <div class="col-md-6" id="pie-chart-proccess"></div>
                                <div class="col-md-12" id="bar-chart"></div>
                            </div>
                        </div>
                        <div class="tab-pane dl-tracking-detail" id="tab_detailHis">
                            <div class="lv-detailHis">
                                <div class="timeline white-bg lv-detailHis">
                                    <div class="d-flex align-items-center box-filter">
                                        <div class="d-flex align-items-center">
                                            <label>Lược sử của:</label>
                                        </div>
                                        <div class="d-flex align-items-center mr-3">
                                            <select class="form-control search-user-history"></select>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <label>Từ ngày:</label>
                                        </div>
                                        <div class="d-flex align-items-center mr-3">
                                            <input class="form-control from-date-search" date-picker placeholder="@ResourceManagement.GetResourceText("Task.TaskDetail.FromDate", ".....", ".....")" />
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <label>đến:</label>
                                        </div>
                                        <div class="d-flex align-items-center mr-1">
                                            <input class="form-control to-date-search" date-picker placeholder="@ResourceManagement.GetResourceText("Task.TaskDetail.ToDate", ".....", ".....")" />
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <a class="btn-line" ng-click="projectDetail.searchHistory()">@ResourceManagement.GetResourceText("Task.TaskDetail.Search", "Tìm kiếm", "Search")</a>
                                        </div>
                                    </div>
                                    <div class="lv-hisItem" ng-repeat="taskItemHistory in projectDetail.item.TaskItemProcessHistories">
                                        <div class="lv-hisDate" style="width: 100px">
                                            <span>{{taskItemHistory.CreatedDateFormat}}</span>
                                        </div>
                                        <div class="lv-hisCont">
                                            <div class="timeline-item">
                                                @*<div class="timeline-badge">
                                                        <img class="timeline-badge-userpic" src="~/Account/Avartar?Id={{taskItemHistory.CreatedBy}}" />
                                                    </div>*@
                                                <div class="timeline-body">
                                                    <div class="timeline-body-head">
                                                        <div class="timeline-body-head-caption">
                                                            <span class="timeline-body-title">{{taskItemHistory.CreatedByFullName}}</span>
                                                            <span class="timeline-body-time font-grey-cascade">{{taskItemHistory.CreatedByJobTitle}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="timeline-body-content" ng-bind-html="taskItemHistory.ProcessResult">
                                                    </div>
                                                    <div class="fileTracking">
                                                        <div class="detailAttach" data-always-visible="1" data-rail-visible="0">
                                                            <ul class="feeds">
                                                                <li ng-repeat="attachment in taskItemHistory.Attachments">
                                                                    <div class="col1">
                                                                        <div class="cont">
                                                                            <div class="cont-col1">
                                                                                <div class="label label-sm font-red">
                                                                                    <i ng-if="attachment.FileExt == '.pdf'" class="fa fa-file-pdf-o"></i>
                                                                                    <i ng-if="attachment.FileExt == '.xls' || attachment.FileExt == '.xlsx'" class="fa fa-file-excel-o"></i>
                                                                                    <i ng-if="attachment.FileExt == '.doc' || attachment.FileExt == '.docx'" class="fa fa-file-word-o"></i>
                                                                                    <i ng-if="attachment.FileExt == '.ppt' || attachment.FileExt == '.pptx'" class="fa fa-file-powerpoint-o"></i>
                                                                                    <i ng-if="attachment.FileExt == '.txt'" class="fa fa-file-text-o"></i>
                                                                                    <i ng-if="attachment.FileExt == '.jpg' || attachment.FileExt == '.png'" class="fa fa-image"></i>
                                                                                </div>
                                                                            </div>
                                                                            <div class="cont-col2">
                                                                                <div class="desc">
                                                                                    <span>
                                                                                        <a target="_blank" ng-click="projectDetail.openPreviewFileTrackingModel(attachment.Id)">{{attachment.FileName}}</a>
                                                                                    </span>
                                                                                    <a target="_blank" href="~/Task/Project/DownloadFileTrackingWorkflowDocument?fileTrackingWorkflowDocumentID={{attachment.Id}}&deptID=00000000-0000-0000-0000-000000000000">
                                                                                        <i class="fa fa-download"></i>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="lv-hisStatus">
                                            <div class="statusProcessing">
                                                <span class="btn-circle status-value blue" ng-bind-html="taskItemHistory.Action.Name"></span>
                                                <span ng-if="taskItemHistory.PercentFinish != null && taskItemHistory.PercentFinish > 0" class="proPercent">{{taskItemHistory.PercentFinish}}%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-more" ng-click="projectDetail.moreHistory()">@ResourceManagement.GetResourceText("Task.TaskDetail.More", "Xem tiếp", "More")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(function () {
        $('#projectMember').on('show.bs.collapse', function () {
            $(this).parent().addClass('active');
        })
        $('#projectMember').on('hide.bs.collapse', function () {
            $(this).parent().removeClass('active');
        })

        //extend history
        $('#extend-history-ptoject').on('click', '.show-history-project', function (e) {
            $(e.target).addClass('hidden');
            $('#extend-history-ptoject .hidden-history-project').removeClass('hidden');
            $('#tab_projectStatus').find('.is-not-first-history').removeClass('hidden');
        });
        $('#extend-history-ptoject').on('click', '.hidden-history-project', function (e) {
            $(e.target).addClass('hidden');
            $('#extend-history-ptoject .show-history-project').removeClass('hidden');
            $('#viewProjectStatus').find('.is-not-first-history').addClass('hidden');
        });
        //show more
        var lvProjectContentHeight = $('.lv-project-content-all').height();
        if (lvProjectContentHeight > 60) {
            $('.lv-project-content-all').css('height', '60');
            $('.show-project-content').css('display', 'block');
        }
        $('.show-project-content').on('click', function () {
            $('.lv-project-content-all').css('height', '100%');
            $('.show-project-content').toggle();
            $('.hidden-project-content').toggle();
        })
        $('.hidden-project-content').on('click', function () {
            $('.lv-project-content-all').css('height', '60');
            $('.show-project-content').toggle();
            $('.hidden-project-content').toggle();
        })
    });
</script>
