<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script async="" src="~/Content/metronic/js/gtm.js"></script>
    
    <title>vanPhongDienTu | Quản lý công việc</title>
    <meta name="description" content="Hệ thống văn phòng điện tử, phục vụ trình ký điện tử, quản lý văn bản, công việc, lịch, phòng họp, xe...">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="~/Content/metronic/css/fullcalendar.bundle.css" rel="stylesheet" type="text/css">
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="~/Content/metronic/css/plugins.bundle.css" rel="stylesheet" type="text/css">
    <link href="~/Content/metronic/css/prismjs.bundle.css" rel="stylesheet" type="text/css">
    <link href="~/Content/metronic/css/style.bundle.css" rel="stylesheet" type="text/css">
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <link href="~/Content/metronic/css/light.css" rel="stylesheet" type="text/css">
    <link href="~/Content/metronic/css/light(1).css" rel="stylesheet" type="text/css">
    <link href="~/Content/metronic/css/light(2).css" rel="stylesheet" type="text/css">
    <link href="~/Content/metronic/css/light(3).css" rel="stylesheet" type="text/css">
    <link href="~/Areas/Task/Content/angularjs/libs/css/treeGrid.css" rel="stylesheet" type="text/css">
    <link href="~/Areas/Task/Content/angularjs/libs/css/select2.min.css" rel="stylesheet" type="text/css">
    <!--end::Layout Themes-->
    <!-- #region HighCharts -->
    <!-- #endregion -->

    <link href="~/Content/css/notify.css" rel="stylesheet" />
    <link href="~/Content/css/alertify.min.css" rel="stylesheet" />
    <!--begin::Custom for vanPhongDienTu-->
    <link href="~/Content/metronic/css/custom.css" rel="stylesheet" type="text/css">
    <link href="~/Content/metronic/css/task.css" rel="stylesheet" type="text/css">
    <link href="~/Content/js/jstree/themes/default/style.min.css" rel="stylesheet" type="text/css">
    <!--end::Custom for vanPhongDienTu-->
    <!--AngularJsl-->
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/libs/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/libs/js/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/libs/js/jquery.ui.datepicker.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/date.js"></script>

    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/libs/js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/libs/js/select2.min.js"></script>

    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/libs/js/ui-select2.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/angular-chosen.min.js"></script>
    @*<script type="text/javascript" src="~/Areas/Task/Content/angularjs/highcharts.js"></script>*@
    @*<script type="text/javascript" src="~/Areas/Task/Content/angularjs/highstock.js"></script>*@
    @*<script type="text/javascript" src="~/Areas/Task/Content/angularjs/exporting.js"></script>*@
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/libs/js/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/paging.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/libs/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/libs/js/angular-toastr.tpls.min.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/libs/js/ng-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/libs/js/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/libs/js/object-to-form-data.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/libs/js/date.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/libs/js/aes.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/libs/js/pbkdf2.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/libs/js/angular-filter.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/libs/js/angular.dcb-img-fallback.min.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/Tables/angular-scrollable-table.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/libs/js/angular-ckeditor.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/app/VanPhongDienTuApp.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/controller/BaseCtrl.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/directives/validate.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/directives/icheck.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/directives/rw-money-mask.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/global.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/libs/js/file.factory.js"></script>
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/directives/mask.js"></script>
    @*<script type="text/javascript" src="~/Areas/Task/Content/angularjs/directives/select2.js"></script>*@
    <script type="text/javascript" src="~/Areas/Task/Content/angularjs/directives/tree-grid-directive.js"></script>

    <script src="~/Areas/Task/Content/Highcharts/highcharts.js"></script>
    <script src="~/Areas/Task/Content/Highcharts/modules/exporting.js"></script>
    <script src="~/Areas/Task/Content/Highcharts/modules/export-data.js"></script>
    <script src="~/Areas/Task/Content/Highcharts/modules/accessibility.js"></script>
    <script type="text/javascript">
    var baseUri = '@Url.Content("~")';
        rootUrl = '@Url.Content("~").TrimEnd('/')';
    </script>

    @RenderSection("styles", required: false)
    <link rel="shortcut icon" href="~/Content/metronic/img/favicon.ico">
    
    <script async="" src="~/Content/metronic/js/hotjar-1070954.js"></script>

    <script async="" src="~/Content/metronic/js/modules.418db05d8becb177a17c.js" charset="utf-8"></script>
    <style type="text/css">
        iframe#_hjRemoteVarsFrame {
            display: none !important;
            width: 1px !important;
            height: 1px !important;
            opacity: 0 !important;
            pointer-events: none !important;
        }
    </style>
</head>
<body id="kt_body" class="header-static subheader-enabled aside-enabled aside-fixed lay-task" ng-app="vanphongdientuapp">
   
    <!--begin::Main-->
    <div id="kt_header_mobile" class="header-mobile align-items-center">
        <a href="/">
            <img alt="Logo" src="~/Content/metronic/img/logo-dark.png">
        </a>
    </div>
    <!--begin::Aside-->
    @*@Html.Partial("~/Areas/Task/Views/Shared/_LeftMenuPartial.cshtml")*@
    <!--end::Aside-->



    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="d-flex flex-row flex-column-fluid page">
            <!--begin::Aside-->
            <div class="aside aside-left aside-fixed d-flex flex-column flex-row-auto" id="kt_aside">
                <div class="brand flex-column-auto" id="kt_brand" kt-hidden-height="65" style="">
                    <a href="/" class="brand-logo">
                        <img alt="Logo" src="~/Content/metronic/img/logo-dark.png">
                    </a>
                    <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
                        <span class="svg-icon svg-icon svg-icon-xl">
                            <img src="~/Content/metronic/img/svg/Angle-double-left.svg" />
                        </span>
                    </button>
                </div>
                @Html.Partial("~/Areas/Task/Views/Shared/_LeftMenuPartial.cshtml")
            </div>
            <!--end::Aside-->
            <!--begin::Wrapper-->
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                <!--begin::Header-->
                @Html.Partial("~/Areas/Task/Views/Shared/_HeaderPartial.cshtml")
                <!--end::Header-->
                <!--begin::Content-->
                <div class="content d-flex flex-column flex-column-fluid pb-0" id="kt_content">
                    @RenderBody()
                    @Html.Partial("_OrgChartModalPartial")
                </div>
                <!--end::Content-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Main-->
    <!-- begin::User Panel-->
    @Html.Partial("~/Areas/Task/Views/Shared/_UserProfilePartial.cshtml")
    <!-- end::User Panel-->
    <!--begin::Demo Panel-->
    @Html.Partial("~/Areas/Task/Views/Shared/_LeftMenuTaskPartial.cshtml")

    <!--end::Demo Panel-->

    <script>var HOST_URL = "/metronic/theme/html/tools/preview";</script>
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1400 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#3699FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#E4E6EF", "dark": "#181C32" }, "light": { "white": "#ffffff", "primary": "#E1F0FF", "secondary": "#EBEDF3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#3F4254", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#EBEDF3", "gray-300": "#E4E6EF", "gray-400": "#D1D3E0", "gray-500": "#B5B5C3", "gray-600": "#7E8299", "gray-700": "#5E6278", "gray-800": "#3F4254", "gray-900": "#181C32" } }, "font-family": "Poppins" };</script>
    <!--end::Global Config-->
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="~/Content/metronic/js/plugins.bundle.js"></script>
    <script src="~/Content/metronic/js/prismjs.bundle.js"></script>
    <script src="~/Content/metronic/js/scripts.bundle.js"></script>
    <!--end::Global Theme Bundle-->
    <!--begin::Page Vendors(used by this page)-->
    <script src="~/Content/metronic/js/fullcalendar.bundle.js"></script>
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="~/Content/metronic/js/widgets.js"></script>
    @*<script src="~/Content/js/select2.full.min.js"></script>*@
    <script src="~/Content/js/notify.js"></script>
    <script src="~/Content/js/jquery.twbsPagination.min.js"></script>
    <script src="~/Content/js/alertify.min.js"></script>
    <script src="~/Content/js/bootbox.all.min.js"></script>
    <script src="~/Content/js/jstree/jstree.min.js"></script>
    <script src="~/Content/js/vanphongdientu.common.js"></script>

    @RenderSection("scripts", required: false)
    <!--end::Page Scripts-->
    <!--end::Body-->
</body>
</html>